### Objective:
The goal of this preliminary task is to load and clean the dataset. The raw text is noisy and we want to remove nonwords, keep punctuation to a minimum, and reduce the overall vocabulary of the corpus.

In [1]:
# Import required libraries
import pandas as pd
import re
import nltk

In [2]:
# 1. Load the data set into pandas data frame
df_data = pd.read_csv(r'stackexchange_812k.csv')

In [3]:
df_data.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

In [4]:
# 2. Use regular expressions to remove elements that are not words such as:
# A. HTML tags, B. LaTeX expressions, c. URLs, D. digits, E. line returns, and so on

pattern_html = re.compile('<.*?>')
pattern_latex = re.compile('\$.\$')
pattern_url = re.compile('<[^<]+?>')
pattern_digits = re.compile('\d')
pattern_lret = re.compile('\n')
pattern_star = re.compile('\*')
pattern_punct = re.compile('^-,.!?')

In [5]:
ls_text = list(df_data['text']).copy()
lst = []
for ls in ls_text:
    out = re.sub(pattern_html,'',ls)
    out = re.sub(pattern_latex,'',out)
    out = re.sub(pattern_url,'',out)
    out = re.sub(pattern_digits,'',out)
    out = re.sub(pattern_lret,'',out)
    out = re.sub(pattern_star,'',out)
    out = re.sub(pattern_punct,'',out)
    lst.append(out.lower())
del out, ls_text

In [6]:
# 3. Remove missing values for "text"
data = lst.copy()
ls_len = []
for dat in data:
    ls_len.append(len(dat))
#sum(ls_len)/len(ls_len)
import matplotlib.pyplot as plt
ls_temp = [ls for ls in ls_len if ls <= 1000]
plt.hist(ls_temp,bins=100)
plt.show()
# Keep range as 10 to 600

In [7]:
#df_data.loc[1,'newText']
for i in range(0,len(ls_len)):
    if (ls_len[i] <= 10 or ls_len[i] >= 600):
        lst[i] = ''
df_data['newText'] = lst

In [8]:
df_data.head()

,post_id,parent_id,comment_id,text,category,newText
0,1,NaN,NaN,Eliciting priors from experts,title,eliciting priors from experts
1,2,NaN,NaN,What is normality?,title,what is normality?
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title,what are some valuable statistical analysis op...
3,4,NaN,NaN,Assessing the significance of differences in d...,title,assessing the significance of differences in d...
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title,the two cultures: statistics vs. machine learn...

In [9]:
df_data.to_csv(r'subFile1.csv')

In [10]:
#df_data.reset_index(inplace=True)
ls_wrd=[]
for wrd in df_data['newText']:
    ls_wrd += nltk.tokenize.word_tokenize(wrd)

In [11]:
fdist = nltk.FreqDist(ls_wrd)

In [25]:
dct = dict(fdist)

In [33]:
ls_keys = list(dct.keys())

In [35]:
df_keys=pd.DataFrame(data=ls_keys,columns=['keys'])
df_keys.to_csv(r'unq.csv')